params {
    // General parameters
    CSVfile = "$baseDir/test_files/Test_CSV.csv"
    outdir = "/user/gent/446/vsc44685/DataVO_dir/MiSeq_05062023/test_3th"
    
    //Subsampling with SeqTk
    Subs = 1000
    
    //Demux
    N42 = 10 //threshold for 42k arrray, determined from simulations
    N86 = 9 //threshold for 86K array, determined from simulations
    M = 36 //length of the barcode
    P = "/user/gent/446/vsc44685/DataVO_dir/ISQ_Run016_Fastq/Raw_data/barcodesTEST.pkl"
    Ntriage =  100
    Nthresh = 10

    //UMItools
    UMItype = "random" //could be semirandom or random

    // Star
    genome = "$VSC_DATA_VO/RNA_seq_pipeline/STAR_index/GRCh38_ucsc_lift_spikes_chrIS_MTr45S_star_index_new"
    threads = 10
    gtf_file = "/data/gent/vo/000/gvo00027/resources/RNAatlas_transcriptomes/RNAatlas_TotalRNA_polyA_transcriptome_filtered.stringent.nochr.gtf"

}
