process {
    executor = 'pbs'
    memory ='64G'
    cpus = 2
    time ='0h 30m'
   
    withLabel: 'med' {
        executor = 'pbs'
        memory ='100G'
        time = '1h'
        cpus = 4
    }
    withLabel: 'high' {
        executor = 'pbs'
        time = '1h'
        memory ='100G'
        clusterOptions = { "-l nodes=1:ppn=2:gpus=2" }
    }
}


includeConfig "$projectDir/csvParams.config"
singularity.enabled = true



