// Extract all the parameters from the RNAseq.nf script and paste them in this separate params.config file. 
// Define project parameters needed for running the pipeline
params {
    // General parameters
    outdir = "/user/gent/446/vsc44685/ScratchVO_dir/Out_test"
    //Subsampling with SeqTk
    Subs = 100
    //Demux
    N42 = 10 //threshold for 42k arrray
    N86 = 9 //threshold for 86K array
    M = 36 //length of the barcode
    //path to the list of barcodes
    Bar = "$baseDir/testing/barcodesTEST2"
    P = "$baseDir/testing/barcodesTEST2.pkl"
    Ntriage =  2
    Nthresh = 10
    end_pos = 45
    //corrected_bar = "/data/gent/vo/000/gvo00027/vsc44685/MiSeq_05062023/Pipeline_test/demux_test/Sample_06_Trim_demux.txt"

    //UMItools
    UMItype = "random" //could be semirandom or random

    // Star
    //genome = "$VSC_DATA_VO/RNA_seq_pipeline/STAR_index/GRCh38_ucsc_lift_spikes_chrIS_MTr45S_star_index_new"
    genome = "$VSC_DATA_VO/resources/STAR_index/Homo_sapiens/GRCh38.dna.primary_assembly.chrIS_spikes_45S.star_index"
    threads = 10
    //gtf_file = "/data/gent/vo/000/gvo00027/resources/RNAatlas_transcriptomes/RNAatlas_TotalRNA_polyA_transcriptome_filtered.stringent.nochr.gtf"
    gtf_file = "$VSC_DATA_VO/resources/Ensembl_transcriptomes/Homo_sapiens/GRCh38/Homo_sapiens.GRCh38.109.chrIS_spikes_45S.gtf"
}


