params {
    // General parameters
    //reads ="/user/gent/446/vsc44685/ScratchVO_dir/NSQ2K_126_test/ribodectector/*_L001_{R1,R2}_001.fastq.gz"
    //reads ="/user/gent/446/vsc44685/ScratchVO_dir/NSQ2K_126_test/ribodectector/*_R2.fastq.gz"
    //reads ="/user/gent/446/vsc44685/ScratchVO_dir/TLP03_umi/*_R1_UMIextracted.fastq.gz"
    reads ="/user/gent/446/vsc44685/ScratchVO_dir/TLP03_test/*_{R1,R2}_001.fastq.gz"
    //CSVfile = "$baseDir/test/SampleSheet_HVD.csv"
    CSVfile = "$baseDir/test/TLP_SampleSheet.csv"
    outdir = "/user/gent/446/vsc44685/ScratchVO_dir/TLP03_test_out"
    flavour = "QSPLike" // accepted ST, QSP or QSPLike
    
    //Subsampling with SeqTk
    //Subs = 2200000
    //Subs = 100000
    

    //Demux
    N42 = 10 //threshold for 42k arrray, determined from simulations
    N21 = 9
    N3 = 14
    M = 36 //length of the barcode
    Ntriage =  3

    //UMItools
    UMItype = "random" //could be semirandom or random

    // Star
    genome = "$VSC_DATA_VO/resources/STAR_index/Homo_sapiens/GRCh38.dna.primary_assembly.chrIS_spikes_45S.star_index"
    //threads = 10
    gtf_file = "$VSC_DATA_VO/resources/Ensembl_transcriptomes/Homo_sapiens/GRCh38/Homo_sapiens.GRCh38.109.chrIS_spikes_45S.gtf"
}






