params {
    // General parameters
    reads = "/scratch/gent/vo/000/gvo00027/projects/BSL/NSQ2K_223/250910_VH00559_223_AAHC2G3M5/Analysis/20250910_TLP11_Spatial_BSL_P1/*_{R1,R2}_001.fastq.gz"
    CSVfile = "$baseDir/test/SampleSheet_HVD.csv"
    outdir="/user/gent/446/vsc44685/ScratchVO_dir/test_1"
    flavour = "QSPLike" // accepted ST, QSP or QSPLike
    
    //Subsampling with SeqTk
    //Subs = 2000 //uncomment if subsampling is needed
    //uncomment prime_fasta if trimming of primers is needed
    //primer_fasta = "/scratch/gent/vo/000/gvo00027/projects/FAP/200325_TLP03_TLP08/Low_primers.fasta"


    //Demux
    N69 = 9 //threshold for 42k arrray, determined from simulations
    N34 = 9
    N3 = 9
    M = 36 //length of the barcode
    Ntriage =  3

    //UMItools
    UMItype = "random" //could be semirandom or random

    // Star
    genome = "/data/gent/vo/000/gvo00027/resources/STAR_index/Homo_sapiens/GRCh38.dna.primary_assembly.chrIS_spikes_45S.star_index"  //gene level
    gtf_file = "$VSC_DATA_VO/resources/Ensembl_transcriptomes/Homo_sapiens/GRCh38/Homo_sapiens.GRCh38.109.chrIS_spikes_45S.gtf"
}



