// Extract all the parameters from the RNAseq.nf script and paste them in this separate params.config file. 
// Define project parameters needed for running the pipeline
params {
    // General parameters
    //set output dir
    outdir = "/user/gent/446/vsc44685/DataVO_dir/Miseq_01122023/Outputs/ERV"
    //Subsampling with SeqTk
    Subs = 10000
    //Demux
    M = 12 //length of the barcode
    //path to save the pickle file (select the same as the barcode list)
    bar_file = "/user/gent/446/vsc44685/ScratchVO_dir/ST_transcriptomics/ERV_barcodes"
    P = "/user/gent/446/vsc44685/ScratchVO_dir/ST_transcriptomics/ERV_barcodes.pkl"
    Ntriage =  2
    //UMItools
    UMItype = "semi" //could be semirandom or random
    // Star
    genome = "$VSC_DATA_VO/resources/STAR_index/Homo_sapiens/GRCh38.dna.primary_assembly.chrIS_spikes_45S.star_index"
    threads = 10
    gtf_file = "$VSC_DATA_VO/resources/Ensembl_transcriptomes/Homo_sapiens/GRCh38/Homo_sapiens.GRCh38.109.chrIS_spikes_45S.gtf"
}